
$content-width: 600px;
$content-padding: 8px;
$block-spacing: 15px;
$column-gap: 6px;
$desktop-width: 768px;

$theme-colour-bg: #4f508f;
$theme-colour-menu-bg: #4f708f;
$theme-colour-menu-active-bg: #6E4F8F;

$colour-bg: #282830;
$colour-fg: #e7e7e7;
$colour-line: #777;
$colour-a: #88ccf8;
$colour-aa: #6ca2c4;
$colour-bgi: #333338;
$colour-line-l: #aaa;
