
$content-width: 580px;
$content-padding: 8px;
$block-spacing: 15px;
$column-gap: 6px;
$desktop-width: 768px;
$colour-bg: #282830;
$colour-fg: #e7e7e7;
$colour-line: #777;
$colour-a: #88ccf8;
$colour-aa: #6ca2c4;
$colour-bgi: #333338;
