/* Width of "wide" blocks */
body.gutenberg-editor-page .editor-block-list__block[data-align="wide"] {
  max-width: 900; }

/* Width of "full-wide" blocks */
body.gutenberg-editor-page .editor-block-list__block[data-align="full"] {
  max-width: none; }

/* Adjust alignment of right-align blocks */
.editor-block-list__layout .editor-block-list__block[data-align=right] .editor-block-list__block-edit {
  float: right;
  margin-left: 1.5em;
  margin-top: 0;
  margin-bottom: 0; }

/* Adjust alignment of left-align blocks */
.editor-block-list__layout .editor-block-list__block[data-align=right] .editor-block-list__block-edit {
  float: right;
  margin-left: 1.5em;
  margin-top: 0;
  margin-bottom: 0; }

/* Title */
.editor-post-title__block .editor-post-title__input {
  font-family: 'Glegoo', sans-serif;
  font-size: 1.6em;
  font-weight: normal;
  padding: 0;
  height: auto; }

.editor-rich-text__tinymce code {
  font-family: 'Inconsolata', monospace;
  padding: 3px 0px 2px; }

.block-editor-block-list__block {
  font-family: 'Oxygen', serif;
  font-size: 16px; }

/* Adjustment to editing blocks to match positioning in front-end */
.editor-styles-wrapper .block-editor-block-list__layout {
  max-width: 580px;
  margin: 0 auto; }
  .editor-styles-wrapper .block-editor-block-list__layout p, .editor-styles-wrapper .block-editor-block-list__layout ul, .editor-styles-wrapper .block-editor-block-list__layout ol {
    margin-top: 18px;
    margin-bottom: 18px;
    line-height: 1.65; }

.block-editor-block-list__block, .wp-block-quote {
  margin-top: 18px;
  margin-bottom: 18px; }

.editor-styles-wrapper .wp-block-file .block-editor-rich-text > div {
  margin: 0; }

.editor-styles-wrapper .block-editor-rich-text > .wp-block-table__cell-content {
  margin: 0; }

.editor-styles-wrapper figure.wp-block-gallery {
  margin-bottom: -16px; }

.editor-styles-wrapper .block-editor-block-list__layout > h2, .editor-styles-wrapper .block-editor-block-list__layout > h3, .editor-styles-wrapper .block-editor-block-list__layout > h4, .editor-styles-wrapper .block-editor-block-list__layout > h5, .editor-styles-wrapper .block-editor-block-list__layout > h6 {
  font-family: 'Glegoo', sans-serif;
  font-weight: normal;
  line-height: 1.4; }
.editor-styles-wrapper .block-editor-block-list__layout > h2 {
  font-size: 1.4em; }
.editor-styles-wrapper .block-editor-block-list__layout > h3 {
  font-size: 1.3em; }
.editor-styles-wrapper .block-editor-block-list__layout > h4 {
  font-size: 1.2em; }
.editor-styles-wrapper .block-editor-block-list__layout > h5, .editor-styles-wrapper .block-editor-block-list__layout > h6 {
  text-transform: uppercase; }
.editor-styles-wrapper .block-editor-block-list__layout > h5 {
  font-size: 1.1em; }
.editor-styles-wrapper .block-editor-block-list__layout > h6 {
  font-size: 1.0em; }

.block-editor-block-list__layout > ul.wp-block, .block-editor-block-list__layout > ol.wp-block {
  padding-left: 2.6em; }

.wp-block-preformatted pre {
  font-family: 'Inconsolata', monospace;
  font-size: 1em;
  white-space: pre;
  border: 1px solid #ccc;
  padding: 0.5em;
  overflow: auto; }

.wp-block-table {
  overflow-x: visible; }

.editor-styles-wrapper .wp-block .wp-block-table figcaption {
  margin-top: .5em;
  margin-bottom: 1em; }

.edit-post-visual-editor p.wp-block-subhead {
  color: #6c7781;
  font-size: 1.1em;
  font-style: italic;
  opacity: 1.0; }

.wp-block-file__button {
  font-size: 0.9em;
  padding: 0.3em 1em; }

/* Remove extraneous space after image due to line-height */
.wp-block-image .components-resizable-box__container {
  display: block; }

.editor-styles-wrapper ul.wp-block-gallery {
  margin-bottom: -16px; }

.wp-block-video {
  margin: 0; }

.wp-block-pullquote {
  padding: 2em 0;
  margin-left: 2em;
  margin-right: 2em; }

.wp-block-verse pre, pre.wp-block-verse {
  padding: 0; }

/* Positioning of Editing BLocks */
.editor-block-list__block > .editor-block-mover, .editor-block-list__block > .editor-block-settings-menu, .editor-block-list__breadcrumb {
  top: -7px; }

.editor-block-list__block > .editor-block-list__insertion-point {
  top: -7px; }

.editor-block-list__block .editor-block-contextual-toolbar {
  transform: translateY(-44px); }

.editor-block-list__layout .editor-block-list__block .editor-block-list__block-edit:before,
.editor-block-list__layout .editor-block-list__block .editor-block-list__block-edit .editor-block-list__block-edit:before {
  top: -6px;
  bottom: -6px; }

.editor-block-list__block > .editor-block-list__insertion-point {
  height: 12px;
  /* was 28px */ }

/* multicolumn edits */
.wp-block-columns .editor-block-list__layout:last-child {
  margin-right: -15px; }

.wp-block-columns .editor-block-list__layout:first-child {
  margin-left: -15px; }

.editor-block-list__block .editor-block-list__layout {
  margin: -15px; }

sup, sub {
  line-height: 0;
  font-size: 75%; }

/* Classic editor */
.wp-block-freeform.block-library-rich-text__tinymce h2, .wp-block-freeform.block-library-rich-text__tinymce h3, .wp-block-freeform.block-library-rich-text__tinymce h4 {
  font-family: 'Glegoo', sans-serif; }

/*# sourceMappingURL=editor-style.css.map */
